<body>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/assets/images/diabetics.png" class="card-img-top" alt="Diagnostics">
                <div class="card-body">
                    <h5 class="card-title">Diabetics Test</h5>
                    <p class="card-text">Multiple tests for specific blood components, such as a glucose test or a
                        cholesterol test, are often grouped together into one test panel called a blood panel or blood
                        work.</p>
                    <button [routerLink]=" 'diabetics' " class="btn btn-primary">Book Slot</button>

                </div>
            </div>
        </div>


        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/assets/images/xray.jpg" class="card-img-top" alt="Diagnostics">
                <div class="card-body">
                    <h5 class="card-title">X-Ray</h5>
                    <p class="card-text">Painless test which produces images of structures in body, especially bones
                        using high energy electromagnetic waves.</p>
                    <a href="#" [routerLink]=" 'xray' " class="btn btn-primary">Book Slot</a>
                </div>
            </div>
        </div>
        <!-- </div>

  <div class="card-group"> -->
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/assets/images/mri.png" class="card-img-top" alt="Diagnostics">
                <div class="card-body">
                    <h5 class="card-title">MRI Scan</h5>
                    <p class="card-text">Provides precise details of your body parts, especially soft tissues, with the
                        help of magnetic fields and radio waves.</p>
                    <a href="#" [routerLink]=" 'mri' " class="btn btn-primary">Book Slot</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/assets/images/ctscan.jpg" class="card-img-top" alt="Diagnostics">
                <div class="card-body">
                    <h5 class="card-title">CT Scan</h5>
                    <p class="card-text">Uses several X-ray images and computer processing to create cross sectional
                        images.</p>
                    <a href="#" [routerLink]=" 'ct' " class="btn btn-primary">Book Slot</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/assets/images/coronatest.jpg" class="card-img-top" alt="Diagnostics">
                <div class="card-body">
                    <h5 class="card-title">COVID-19 Test</h5>
                    <p class="card-text"> COVID-19 tests are available that can test for current infection or past
                        infection. A viral test tells you if you have a current infection. </p>
                    <a href="#" [routerLink]=" 'covid' " class="btn btn-primary">Book Slot</a>
                </div>
            </div>
        </div>

    </div>
    <button class="btn btn-primary"  style="float: right;" [routerLink]="['/dashboard']">Go To Dashboard</button>
</body>