<div class="content">
  <div class="imp">
      <label for="sort"></label>
      <select name="sort" [(ngModel)]="sortBy" value='select' class="browser-default custom-select"
       style="width: 300px;">
      <option value="Cardiology">Cardiology</option>
      <option value="Dermatology">Dermatology</option>
      <option value="Neurology">Neurology</option>
      <option value="Pediatrician">Pediatrician</option>
      <option value="Psychiartist">Psychiartist</option>
      </select>
      <button (click)=sortResults(sortBy) class='btn btn-primary'>Sort By</button>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
      <div *ngFor='let res of results'  >
          <div class="col">
              <div class='card'>
                   <div class="list-group-item list-group-item-primary">_id:  {{res._id}} </div>
                  <div>First Name:  {{res.first_name}} </div>
                  <div>Last Name:  {{res.last_name}} </div>
                  <div>Age:  {{res.age}} </div>
                  <div>Gender:  {{res.gender}} </div>
                  <div>Test:  {{res.test}} </div>
                  <div>Date:  {{res.date}} </div>
                  <div>Time:  {{res.time}} </div>
                  <div>Phone Number: {{res.phoneNumber}} </div>
                  <br><br><br>
              </div>
          </div>
        </div>
  </div>
</div>

