<!-- <body>
    <div class="container">
        <div class="card" style="margin-top: 20%; background-color:#eee;">
            <div class="container">
                <h2 style="text-align: center;">OTP Authentication</h2>
                <hr><br>
                <form (submit)="sendLoginCode()" [formGroup]="OTPForm" novalidate>
                    <div class="form-group">
                        <label class="center-block">Phone Number</label>
                        <input type="text" [(ngModel)]="phoneNumber" formControlName="phoneNumber" class="form-control"
                            required><br>

                        <input type="submit" class="btn btn-primary" value="Send OTP">
                    </div><br>
                </form>
                <form (submit)="verifyLoginCode()" [formGroup]="VerifyForm" novalidate>
                    <div class="form-group">
                        <label class="center-block">Verify OTP</label>
                        <input type="text" [(ngModel)]="verifyNumber" formControlName="verifyNumber" class="form-control"
                            required><br>
                        <input type="submit" class="btn btn-primary" value="Verify OTP">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body> -->


<!-- <div class="form-group phone">
  <label>Phone Number</label>
  <i class="fa fa-phone" aria-hidden="true"></i>

  <input type="phone" [(ngModel)]="phoneNumber" name="phoneNumber" class="form-control" placeholder="Phone Number">
</div> -->



<body>
  <div class="container">
    <div>
      <div class="container">
        <h2 style="text-align: center;">OTP Authentication</h2>
        <hr><br>
        <form (submit)="sendLoginCode()" [formGroup]="OTPForm" novalidate>
          <div class="form-group phone">
            <label>Phone Number</label>
            <i class="fa fa-phone" aria-hidden="true"></i>
            <input type="phone" [(ngModel)]="phoneNumber"  formControlName="phoneNumber" class="form-control"
              placeholder="Phone Number">
            <!-- <button type="button" class="btn btn-primary" (click)="sendLoginCode(phoneNumber)" >Send OTP</button> -->
            <input type="submit" class="btn btn-primary" value="Send OTP">
          </div><br>
        </form>
        <form (submit)="verifyLoginCode()" [formGroup]="VerifyForm" novalidate>
          <div class="form-group">
            <label class="center-block">Verify OTP</label>
            <input type="text" [(ngModel)]="verifyNumber" formControlName="verifyNumber" class="form-control" placeholder="Enter code"
              required><br>
            <!-- <button type="button" class="btn btn-primary" (click)="sendLoginCode(phoneNumber)" >Send OTP</button> -->
            <input type="submit" class="btn btn-primary" value="Verify OTP">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
