/* .card
{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  margin: 0 auto;
} */

body {
  width: 600px;
  height: 50%;
  /* background-color: rgb(150, 196, 236); */
  /* margin-top: 100px; */
  display: flex;
  margin: 100px auto ;
  padding: 15px;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 45, 245, 1) 100%
  );
}


::placeholder {
  color: rgb(87, 68, 68);
  opacity: 0.7;
  font-size: smaller;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
label {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.849);
  padding-left: 4px;
}
input[type="phone"] {
  width: 100%;
  padding: 12px 40px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.phone {
  position: relative;
}

.phone i {
  position: absolute;
  left: 15px;
  top: 52px;
  color: gray;
}

.btn {
  width: 100%;
  font-weight: 600;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    135deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(45, 253, 111, 1) 100%
  );
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  letter-spacing: 5px;
  font-size: large;
}
.btn:hover {
  box-shadow: 0 0 10px rgb(4, 51, 65);
}
