<!-- <html>
  <body>
    <div style="width: 500%;">
      <br><br><br><br><br>
      <div class="btn-group" style="height: 100%;">
        <button type="button" style="width: 400px;" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Diseases Names
        </button>
        <ul class="dropdown-menu" style="height: 200%;">
          <li style="width: 400px;"><a class="dropdown-item" [routerLink]="'medicineNames'">Cough/Cold</a></li>
          <li><a class="dropdown-item" href="../medicine-names/medicine-names.component.html">Fever</a></li>
          <li><a class="dropdown-item" href="../medicine-names/medicine-names.component.html">Covid-19</a></li>
          <li><a class="dropdown-item" href="../medicine-names/medicine-names.component.html">Maleria</a></li>
        </ul>
      </div>
    </div>
  </body>
</html> -->
<div class="logoutBtn">
    <button type="button" *ngIf="otpService.logIn()" class="btn btn-danger"
        (click)="otpService.logoutUser()">Logout</button>
</div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 style="text-align: center;">Diseases Names</h1>
            <hr>
        </div>
        <div class="card-body" style="text-align: center;">
            <button type="button" class="btn" style="width: 50%;"
                (click)="medicineCough()">Cough/Cold</button><br><br><br>
            <button type="button" class="btn" style="width: 50%;" (click)="medicineFever()">Fever</button><br><br><br>
            <button type="button" class="btn" style="width: 50%;"
                (click)="medicineMalaria()">Malaria</button><br><br><br>
            <button type="button" class="btn" style="width: 50%;"
                (click)="medicineCovid19()">Covid-19</button><br><br><br>
        </div>
    </div>
</div>
    <button class="btn btn-primary" style="float: right;" [routerLink]="['/dashboard']">Go To Dashboard</button>