@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');

:root{
     --secondary-font: 'Herr Von Muellerhoff', cursive;
}
html,body{
     scroll-behavior: smooth;
     margin: 0;
     height: 100%;
     width: 100%;
     /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, .9), transparent); */
}


.text-center{
   margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;

    /* width: 500px; */
    /* background-color: rgba(211, 211, 211, 0.11); */
    height: 30rem;
    z-index: 10;
}
.header{
    text-align: left;
    color:#1f3264f3;
    letter-spacing: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* margin-top: 10px; */
}
.first-letter{
    text-transform: uppercase;
    font-size:5rem;
    
}
.sub-heading{
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(245, 131, 131);
}
.login-button a{
    letter-spacing: 2px;
}
.new-user{
    margin-top: 2rem;
    margin-left: 80%;
}
a{
    height: 3rem;
    font-size: larger;
    text-align: center;
}
img{
    z-index: -1;
    height: 700px;
    width: 100%;
}
@media  (max-width:900px) {
    
    .text-center{
          display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px auto;
    /* margin: 10rem; */
    /* width: 500px; */
    background-color: rgba(211, 211, 211, 0.11);
    height: 30rem;
    z-index: 10;

    }
    .new-user{
    margin-top: 100px;
    margin-left: 0rem;
}
}

@media  (max-width:760px) {
    .text-center{
          display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px auto;
    /* margin: 10rem; */
    /* width: 500px; */
    background-color: rgba(211, 211, 211, 0.11);
    height: 30rem;
    z-index: 10;

    }
    .new-user{
    margin-top: 100px;
    margin-left: 0rem;
}
}

@media  (max-width:480px) {
    .header{
    text-align: center;
    color:red;
    letter-spacing: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* margin-top: 10px; */
}
    .text-center{
          display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px auto;
    /* margin: 10rem; */
    /* width: 500px; */
    background-color: rgba(211, 211, 211, 0.11);
    height: 30rem;
    z-index: 10;

    }
    .new-user{
    margin-top: 100px;
    margin-left: 0rem;
}
    
}
