
body{
    width: 600px;
    height: 50% ;
    /* background-color: rgb(150, 196, 236); */
    display: flex;
    margin: 0 auto;
    padding: 15px;
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,45,245,1) 100%);
    
}
.page-header{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fffbfb
}

::placeholder{
    color:rgb(87, 68, 68);
    opacity: .7;
    font-size: smaller;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    color: rgba(252, 251, 249, 0.849);
    padding-left:4px;
}
  input[type=text], 
        input[type=password],
        input[type=address],
        input[type="phone"]{ 
            width: 100%; 
            padding: 12px 40px; 
            margin: 8px 0; 
            display: inline-block; 
            border: 1px solid #ccc; 
            box-sizing: border-box; 
        } 
          .name {
            position: relative;
        }
          
        .name i{
            position: absolute;
            left: 15px;
            top: 52px;
            color: gray;
        }
           .username {
            position: relative;
        }
          
        .username i{
            position: absolute;
            left: 15px;
            top: 52px;
            color: gray;
        }
             .email {
            position: relative;
        }
          
        .email i{
            position: absolute;
            left: 15px;
            top: 52px;
            color: gray;
        }
             .password {
            position: relative;
        }
          
        .password i{
            position: absolute;
            left: 15px;
            top: 52px;
            color: gray;
        }
              .cpassword {
            position: relative;
        }
          
        .cpassword i{
            position: absolute;
            left: 15px;
            top: 52px;
            color: gray;
        }
               .Address {
            position: relative;
        }
          
        .Address i{
            position: absolute;
            left: 15px;
            top: 52px;
            color: gray;
        }
               .phone {
            position: relative;
        }
          
        .phone i{
            position: absolute;
            left: 15px;
            top: 52px;
            color: gray;
        }

        .btn{
            width: 100%;
            font-weight: 600;
            background: rgb(34,193,195);
background: linear-gradient(135deg, rgba(34,193,195,1) 0%, rgba(45,253,111,1) 100%);
  transition:cubic-bezier(0.6, -0.28, 0.735, 0.045);
  letter-spacing: 5px;
  font-size: large;

        }
        .btn:hover{
      
           box-shadow: 0 0 10px rgb(4, 51, 65);
        }