
<body>
 
    <div class="container">

      
            <h2 class="page-header" >Register</h2>
            <hr>
            <form (submit)="onRegisterSubmit()">
                <!-- <div class="form-group name">
                    <label>Name</label>
                    <i class="fa fa-id-card" aria-hidden="true"></i><input type="text" [(ngModel)]="name" name="name"
                        class="form-control" placeholder="Enter Name">
                </div> -->
                <div class="form-group username">
                    <label>Username</label>
                    <i class="fa fa-user" aria-hidden="true"></i> <input type="text" [(ngModel)]="username" name="username"
                        class="form-control" placeholder="Enter Username">
                </div>
                <hr>
                <div class="form-group email">
                    <label>Email</label>
                    <i class="fa fa-envelope" aria-hidden="true"></i> <input type="text" [(ngModel)]="email" name="email"
                        class="form-control" placeholder="Enter Email">
                </div>
                <hr>
                <div class="form-group password">
                    <label>Password</label>
                    <i class="fa fa-unlock-alt" aria-hidden="true"></i> <input type="password" [(ngModel)]="password"
                        name="password" class="form-control" placeholder="Enter Password">
                </div>
                <hr>
                <div class="form-group cpassword">
                    <label> Confirm Password</label>
                    <i class="fa fa-unlock-alt" aria-hidden="true"></i> <input type="password" [(ngModel)]="cpassword"
                        name="cpassword" class="form-control" placeholder="Confirm Password">
                </div>
                <hr>
                <div class="form-group Address">
                    <label>Address</label>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <input type="address" [(ngModel)]="Address" name="Address" class="form-control" placeholder="Your Address">
                </div>
                <hr>
                <div class="form-group phone">
                    <label>Phone Number</label>
                    <i class="fa fa-phone" aria-hidden="true"></i>
            
                    <input type="phone" [(ngModel)]="phone" name="phone" class="form-control" placeholder="Phone Number">
                </div>
                <hr>
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>
            
          
    </div>

    
   
</body>