<body>
  <div  style="margin:60px auto">
      <div>
          <div class="contaniner">
              <h2 class="page-header" style="text-align: center;">User Information Form</h2>
              <hr><br>
              <form (submit)="addInformation()" [formGroup]="UserForm" novalidate>
                  <div class="form-group">
                      <label class="center-block">FullName</label>
                      <input type="text" [(ngModel)]="FullName" formControlName="FullName" class="form-control" required>
                  </div>
                  <div *ngIf="UserForm.controls['FullName'].invalid && (UserForm.controls['FullName'].dirty || UserForm.controls['FullName'].touched)"
                      class="alert">
                      <div *ngIf="UserForm.controls['FullName'].errors.required">
                          Please enter FullName
                      </div>
                      <div *ngIf="UserForm.controls['FullName'].errors.FullName">
                          Please enter FullName
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="center-block">Email</label>
                      <input type="email" [(ngModel)]="email" formControlName="email" class="form-control" required>
                  </div>
                  <div *ngIf="UserForm.controls['email'].invalid && (UserForm.controls['email'].dirty || UserForm.controls['email'].touched)"
                      class="alert">
                      <div *ngIf="UserForm.controls['email'].errors.required">
                          Please enter email
                      </div>
                      <div *ngIf="UserForm.controls['email'].errors.email">
                          Please enter email
                      </div>
                  </div>

                  <div class="form-group phone">
                      <label class="center-block">phoneNumber</label>
                      <i class="fa fa-phone" aria-hidden="true"></i>
                      <input type="text" [(ngModel)]="phoneNumber" class="form-control" formControlName="phoneNumber"
                          required>
                  </div>
                  <div *ngIf="UserForm.controls['phoneNumber'].invalid && (UserForm.controls['phoneNumber'].dirty || UserForm.controls['phoneNumber'].touched)"
                      class="alert">
                      <div *ngIf="UserForm.controls['phoneNumber'].errors.required">
                          Please enter phoneNumber
                      </div>
                  </div>

                  <div class="form-group Address">
                      <label class="center-block">address</label>
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                      <input type="text" [(ngModel)]="address" class="form-control" formControlName="address" required>
                  </div>
                  <div *ngIf="UserForm.controls['address'].invalid && (UserForm.controls['address'].dirty || UserForm.controls['address'].touched)"
                      class="alert">
                      <div *ngIf="UserForm.controls['address'].errors.required">
                          Please enter address
                      </div>
                  </div>
                  <br>
                  <div style="text-align: center;">
                      <input type="submit" class="btn" value="Add Information">
                  </div>
              </form><br>
          </div>
      </div>
  </div>

</body>
