<body>

  <div class="row">
    <div class="col-sm-8 col-md-6 offset-sm-1 offset-md-2">
    <div class="card">
      <div class="card-body">
        <form  [formGroup]='calorieForm'   >
          <div class="form-group">
            <div class="row">
              <div class="col-3">
                <label for="name">Name:</label>
              </div>
              <div class="col-6">
                <input type="text" name='name'  [formControlName]="'name'" class="form-control" placeholder="enter name">
              </div>
            </div>
          </div>
          
  <br>
  
          <div class="form-group">
            <div class="row">
              <div class="col-3">
                <label for="weight">Weight:</label>
              </div>
              <div class="col-6">
                <input type="text" name='weight' class="form-control"[formControlName]="'weight'" placeholder="enter weight">
                <div [hidden]='weight.valid ||weight.untouched'>
                  <div class="alert alert-danger">
                    <div  [hidden]="!weight.hasError('required')">weight is Required</div>
                    <div  [hidden]="!weight.hasError('pattern')">Please enter valid weight</div>
      
                </div>
              </div>
              </div>
            </div>
             </div>
        
          
          <br>

          <div class="form-group">
            <div class="row">
              <div class="col-3">
                <label for="height">Height:</label>
              </div>
              <div class="col-6">
                <input type="text" name='height'   class="form-control" [formControlName]="'height'"  placeholder="enter height">
                <div [hidden]='height.valid ||height.untouched'>
                  <div class="alert alert-danger">
                    <div  [hidden]="!height.hasError('required')">height is Required</div>
                    <div  [hidden]="!height.hasError('pattern')">Please enter valid height</div>
      
                </div>
              </div>
              </div>
            </div>
          </div>
          
    
          <br>

          <div class="form-group">
            <div class="row">
              <div class="col-3">
                <label for="age">Age:</label>
              </div>
              <div class="col-6">
                <input type="text" name='age'  class="form-control" [formControlName]="'age'" placeholder="enter age" >
                <div [hidden]='age.valid ||age.untouched'>
                  <div class="alert alert-danger">
                    <div  [hidden]="!age.hasError('required')">age is Required</div>
                    <div  [hidden]="!age.hasError('pattern')">Please enter valid age</div>
      
                </div>
              </div>
              </div>
            </div>
          </div>          
<br>
             <div class="form-group">
         <div class="row">
         <div class="col-3">
        <label for="gender">Gender:</label>
      </div>
        <div class="radio" *ngFor="let gender of genders" >
        <label class="form-check-label" for="inlineRadio1">
        <input class="form-check-input" type="radio" [value]="gender" [formControlName]="'gender'"> {{gender}} </label>
         </div>
        </div>
        </div>


  <br> 
 
<div class="form-group">
        <div class="row">
           <div class="col-3">
        <label for="mobileNumber">Contact Number:</label>
         </div>
         <div class="col-6">
           <input type="tel" name='mobileNumber' [formControlName]="'mobileNumber'" class="form-control" placeholder="enter contact number">
           <div [hidden]='mobileNumber.valid ||mobileNumber.untouched'>
            <div class="alert alert-danger">
              <div  [hidden]="!mobileNumber.hasError('required')">mobileNumber is Required</div>
              <div  [hidden]="!mobileNumber.hasError('pattern')">Please enter valid mobile number</div>

          </div>
        </div>
        </div> 
        </div>
        </div>
        
           
 <br>

 <div class="form-group">
  <div class="row">
    <div class="col-3">
      <label for="checkmetobolicrate">Check Metobolic Rate:</label>
    </div>
    <div class="col-6">
      <button type="submit"  class="form-control"  (click)='calculatemetobolicrate()'>calculate metobolicrate</button>{{this.calorieForm.value.metobolicrate}}
    </div>
  </div>
  </div>

       <div class="form-group">
          <button  class="btn btn-primary btn-block" type="submit" (click)='addContact()' [routerLink]="'dashboard'" >Main Menu </button>
          </div>
      
         </form>
         </div>
      </div>
      </div>
    </div>
  </body>
