<body>
  <!-- <app-navigation></app-navigation> -->

  <section class="sect-1">
    <div class="main">
      <h1 class="header">HealthCare Master</h1>
      <div class="text-center">
        <p class="sub-heading"><span class="first-letter">W</span>elcome</p>

        <h3>Already A User?</h3>
        <p>Login</p>
        <div class="login-button">
          <a class="btn btn-primary" [routerLink]="['/otp']">OTP Login</a>
          <span style="width: 20px"></span>
          <a class="btn btn-success" [routerLink]="['/logins']">Email Login</a>
        </div>
        <!-- <div class="new-user">
              <h3>New User?</h3>
              <p>Register Here First</p>
              <div>
                  <a class="btn btn-danger" [routerLink]="['/register']">Register</a>

              </div>
          </div> -->
      </div>
    </div>
    <!-- <button [routerLink]="['temp']">Go to temp</button> -->
  </section>
  <section class="ourservice text-center" id="serv">
    <div class="container">
      <h1>Services</h1>
      <p>We provide following services</p>
      <div class="row rowset">
        <div class="col-lg-4 col-md-4 col-sm-4 col-12">
          <div class="imgset d-block m-auto bg-warning">
            <i class="fa fa-user-md fa-3x"></i>
          </div>
          <h2>Doctor at your Door</h2>
          <p>
            In this time of pandemic,get all your health concerns cleared with
            our doctors at any time any where.
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-12">
          <div class="imgset d-block m-auto bg-warning">
            <i class="fas fa-stethoscope fa-3x"></i>
          </div>
          <h2>Diagnostics</h2>
          <p>Book your all types of tests slots at your hand comfort</p>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-12">
          <div class="imgset d-block m-auto bg-warning">
            <i class="fas fa-medkit fa-3x"></i>
          </div>
          <h2>Medicines</h2>
          <p>
            Get to know Medicines of some common diseases in case of emergency
          </p>
        </div>
      </div>
    </div>
  </section>

  <hr />
  <section class="portfolio" id="port">
    <div class="container text-center">
      <h1>Portfolio</h1>
      <p>Our Highlights</p>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
          <div class="card">
            <img
              src="../../../assets/images/doc1.png"
              class="card-img img-fluid"
            />
            <div class="card-body">
              <h2 class="card-title">Better Caring</h2>
              <p class="card-text">Everyone is Important for us, at any cost</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
          <div class="card">
            <img
              src="../../../assets/images/ot.jpg"
              class="card-img img-fluid"
            />
            <div class="card-body">
              <h2 class="card-title">World Class OTs</h2>
              <p class="card-text">We believe in treating best.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
          <div class="card">
            <img
              src="../../../assets/images/test.jpg"
              class="card-img img-fluid"
            />
            <div class="card-body">
              <h2 class="card-title">Test for Your Best</h2>
              <p class="card-text">
                We dont compromise in when your life is at risk
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
          <div class="card">
            <img
              src="../../../assets/images/vent.jpg"
              class="card-img img-fluid"
            />
            <div class="card-body">
              <h2 class="card-title">Best Machines</h2>
              <p class="card-text">
                Machines needs to best for treating patients best
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
          <div class="card">
            <img
              src="../../../assets/images/med.jpg"
              class="card-img img-fluid"
            />
            <div class="card-body">
              <h2 class="card-title">Affordable Medicies</h2>
              <p class="card-text">We believe in Cheap and Best</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
          <div class="card">
            <img
              src="../../../assets/images/healthdetails.png"
              class="card-img img-fluid"
            />
            <div class="card-body">
              <h2 class="card-title">Health History Track</h2>
              <p class="card-text">
                Enter some health info once and we will keep track of your
                health regularly
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr />
  <section class="contact bg-light" id="cont" style="padding-top: 50px">
    <div class="container">
      <form (submit)="onSubmit()" [formGroup]="contactform" novalidate>
        <h1>Contact Us</h1>
        <div class="form-group">
          <div class="txt">
            <label>Full Name:</label>
            <input
              type="text"
              class="form-control"
              formControlName="name"
              placeholder="Enter your name"
              [(ngModel)]="name"
              required
            />
          </div>
          <div class="txt">
            <label>Email:</label>
            <input
              type="email"
              formControlName="email"
              placeholder="Enter your email"
              required
              [(ngModel)]="email"
            />
          </div>
          <div class="txt">
            <label>Phone Number:</label>
            <input
              type="text"
              formControlName="phone"
              placeholder="Enter your Number"
              [(ngModel)]="phone"
            />
          </div>
          <div class="txt">
            <label>Query:</label>
            <textarea
              formControlName="message"
              [(ngModel)]="message"
            ></textarea>
          </div>
          <div>
            <input type="submit" class="subm" value="Send Message" />
          </div>
        </div>
      </form>
    </div>
  </section>
  <hr />

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="sci">
            <li><i class="fab fa-facebook"></i></li>
            <li><i class="fab fa-instagram"> </i></li>

            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fa fa-linkedin"></i></li>

            <li><i class="fab fa-github"></i></li>
          </ul>
        </div>
      </div>

      <h6 class="text-centers" style="text-align: center">
        Copyright © 2021, Design by Angular Acheivers
      </h6>
    </div>
  </footer>
</body>
