@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');

:root{
     --secondary-font: 'Herr Von Muellerhoff', cursive;
}
html,body{
     scroll-behavior: smooth;
     margin: 0;
     /* height: 100vh; */
     width: 100%;
     /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, .9), transparent); */
}
.main{
    /* margin-left:-200px; */
        background:   url('../../../assets/images//main-page.jpg') fixed center no-repeat;

  width: 100vw;
    height: 750px;
    /* background: url('your-url') no-repeat center; */
    background-size: 100% 100%;
    /* background-position: top center; */
    background-blend-mode:overlay;


}
.sect-1{
    margin-bottom: 300px;
}

.text-center{

    display: flex;
    justify-content: center;
    flex-direction: column;
    /* margin: 0 auto; */
margin-top: 100px;
    /* width: 500px; */
    /* background-color: rgba(211, 211, 211, 0.11); */
    /* height: 30rem; */
    /* z-index: 10; */
}
.header{
    text-align: left;
    color:#1f3264f3;
    letter-spacing: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* margin-top: 10px; */
}
.first-letter{
    text-transform: uppercase;
    font-size:5rem;

}
.sub-heading{
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(245, 131, 131);
}
.login-button a{
    letter-spacing: 2px;
}
.new-user{
    margin-top: 2rem;
    margin-left: 80%;
}
a{
    height: 3rem;
    font-size: larger;
    text-align: center;
}

ourservice{
	padding: 100px 0px 60px;
	height: 100vh;
    margin-top: 300px;
	/* background-color: ; */
		/* background-color: #d2dfff; */

}
.ourservice h1{
	font-size: 50px;
	font-weight: bold;
}
.rowset{
	margin: 80px 0px !important;
}
.imgset{
	border-radius: 50%;
	height: 100px;
	width: 100px;
}
.fa-shopping-cart{
	margin-top: 20px;
}
.fa-cutlery{
	margin-top: 20px;
}
.fa-film{
	margin-top: 20px;
}
.fa-user-md{
    margin-top:20px ;
}
.fa-stethoscope{
    margin-top: 20px;
}
.fa-medkit{
     margin-top: 20px;
}
.rowset p{
	padding: 15px;
	color: #6c757d;
}

.portfolio{
	margin-top: 300px;
	/* background-color: #fffddd; */
		/* height: 100vh; */
height: 1100px;
	padding: 100px 0px 50px;
	width: 100%;


}
.card{
	margin-top :40px ;
}
.card img{
    height: 220px;
}
.contact h1{
	margin: 0;
	font-weight: 300;
}
.txt
{
	border:1px solid gray;
	margin: 8px 0;
	padding: 12px 18px;
	border-radius: 8px;
}
.txt label{
	display: block;
	text-align: left;
	color: #333;
	text-transform: uppercase;
	font-size: 14px;
}
.txt input,.txt textarea{
	width: 100%;
	border:none;
	background:none;
	outline: none;
	font-size: 18px;
	margin-top: 6px;
}
.subm{
	display: inline-block;
	background:#9b59b6;
	padding: 14px 0;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 8px;
	width: 100%;

}
.subm:hover{
background-color: #f44336;
cursor: pointer;
}
.cpy{
    height: 100px;
}
footer{
	font-size: 50px;
	background: #000;
	/* padding: 30px 0 100px; */
    height: 300px;
}
.sci{
	margin: 0;
	padding: 0;display: flex;
	justify-content: center;
	align-items: center;
}
.sci li{
	list-style: none;
	margin-top: 0 20px;
	width: 40px;
}
.sci li a{
	color: #777;
	font-size:2em;
	transition: 0.5s;

}
.sci li:hover{
	color: #fff;
}
.footer h6:hover{
color: #fff;
}
.footer .fa-facebook-f{
	font-size: 20px;
}
.footer .fa-instagram{
    padding-left: 15px;
	font-size: 50px;
}
.footer .fa-twitter{
  padding-left: 20px;
	font-size: 50px;
}
.footer .fa-linkedin{
	  padding-left: 15px;
	font-size: 50px;
}

.footer .fa-github{
	  padding-left: 15px;
	font-size: 50px;
}
.footer h6{
	line-height: 50px;
}




/*
@media  (max-width:900px) {

    .text-center{
          display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px auto;
    /* margin: 10rem; */
    /* width: 500px; */
    /* background-color: rgba(211, 211, 211, 0.11);
    height: 30rem;
    z-index: 10;

    }
    .new-user{
    margin-top: 100px;
    margin-left: 0rem;
}
} */


/* @media  (max-width:760px) {
    .text-center{
          display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px auto;

    background-color: rgba(211, 211, 211, 0.11);
    height: 30rem;
    z-index: 10;

    }
    .new-user{
    margin-top: 100px;
    margin-left: 0rem;
}
} */


/*@media  (max-width:480px) {
    .header{
    text-align: center;
    color:red;
    letter-spacing: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
    .text-center{
          display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px auto;

    background-color: rgba(211, 211, 211, 0.11);
    height: 30rem;
    z-index: 10;

    }
    .new-user{
    margin-top: 100px;
    margin-left: 0rem;
}
.ourservice{
	height: 1200px;
    margin-top: 300px;
}
.portfolio{
	height: auto;
    margin-top: 300px;
}


} */

/*
@media(min-width: 992px)
{

}
@media(min-width: 768px) and (max-width: 991px)
{

}
@media(min-width: 575px) and (max-width:767px )
{

}
@media(min-width: 480px) and (max-width: 574px)
{

}
@media(min-width: 300px) and (max-width: 479px)
{

}
@media(min-width: 299px)
{
.headerset h2{
font-size: 22px
}
.headerset h1{
	font-weight: bold;
	font-size:32px;

}
.ourservice{
	height: 1200px;
}
.portfolio{
	height: auto;
}
/* .portfolio{
	height: 2600px;
} */


/* } */
