<div class="container">
    <div class="logoutBtn">
        <!-- <button type="button" *ngIf="registerService.loggedIn()" class="btn btn-danger"
            (click)="registerService.logoutUser()">Logout</button> -->
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/doctor.jpg" class="card-img-top" alt="Diagnostics">
                <div class="card-body">
                    <h5 class="card-title">Doctors</h5>
                    <p class="card-text">Book Appointment with doctor</p>
                    <a href="doctor" class="btn btn-primary">Book Now</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/medicine.jpg" class="card-img-top" alt="Diagnostics">
                <div class="card-body">
                    <h5 class="card-title">Medicine</h5>
                    <p class="card-text">Check for Medicines</p>
                    <a [routerLink]="'/medicine'" class="btn btn-primary">Check Now</a>
                </div>
            </div>
        </div>

        <div class="col" *ngIf='otpService.logIn()'>
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/personal_details.jpg" class="card-img-top" alt="Diagnostics">
                <div class="card-body">
                    <h5 class="card-title">Personal Details</h5>
                    <p class="card-text">Bio</p>
                    <a [routerLink]="'/profileOtp'" class="btn btn-primary">Check Now</a>
                </div>
            </div>
        </div>



        <div class="col" *ngIf='authService.loggedIn()'>
          <div class="card" style="width: 18rem;">
              <img src="../../../assets/images/personal_details.jpg" class="card-img-top" alt="Diagnostics">
              <div class="card-body">
                  <h5 class="card-title">Personal Details</h5>
                  <p class="card-text">Bio</p>
                  <a [routerLink]="'/profile'" class="btn btn-primary">Check Now</a>
              </div>
          </div>
      </div>





        <!-- </div>

    <div class="card-group"> -->
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/bmi.jpg" class="card-img-top" alt="Diagnostics">
                <div class="card-body">
                    <h5 class="card-title">BMI Calculator</h5>
                    <p class="card-text">Check Your BMI</p>
                    <a href="#" [routerLink]=" '/bmi' " class="btn btn-primary">Calculate</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/calorie.png" class="card-img-top" alt="Diagnostics">
                <div class="card-body">
                    <h5 class="card-title">Calorie Calculator</h5>
                    <p class="card-text">Check Your Calorie</p>
                    <a href="#" [routerLink]=" '/calorie' " class="btn btn-primary">Check Now</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/Diagnostics.png" class="card-img-top" alt="Diagnostics">
                <div class="card-body">
                    <h5 class="card-title">Diagnostics</h5>
                    <p class="card-text">Book slots for Diagnostics</p>
                    <a href="#" [routerLink]=" '/diagnostics' " class="btn btn-primary">Diagnostics</a>
                </div>
            </div>
        </div>

    </div>
</div>
