html *{
  background-color: #eee;
}
.card
{
  border: 1px solid transparent;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  /* margin-top: 20%; */
}
.card-body{
  display: flex;
}
.adjust
{
  /* float: left; */

  float: right;
  padding-left: 60%;
  height:90%;
  width:100%;
  margin-left:200px;
}
.row{
   margin-top: 25%;
}
.container
{
  height: 400px;
  width: 800px;
  padding-top:40px;
  background-color: skyblue;
  margin-top: 25%;
  box-shadow: 	0 4px 8px 0 rgba(0, 0, 0, 0.2),
  				0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.adjust img{
    width: 200px;
    height: 200px;
}