<div class="container" *ngIf="user">
  <div class="main-body">



      <div class="row gutters-sm">
          <div class="col-md-4 mb-3">
              <div class="card">
                  <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                          <img src="../../../assets/images/user_icon.jpg" alt="Admin"
                              class="rounded-circle" width="150">
                          <div class="mt-3">
                              <h4>
                                  {{user.username}}
                              </h4>

                              <p class="text-muted font-size-sm">{{user.Address}}</p>

                          </div>
                      </div>
                  </div>
              </div>

          </div>
          <div class="col-md-8">
              <div class="card mb-3">
                  <div class="card-body">
                      <div class="row">
                          <div class="col-sm-3">
                              <h6 class="mb-0"><i style="color: tomato;" class="fa fa-user" aria-hidden="true"></i>
                                  User Name</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            {{user.username}}
                          </div>
                      </div>
                      <hr>
                      <div class="row">
                          <div class="col-sm-3">
                              <h6 class="mb-0"><i style="color: magenta;" class="fa fa-envelope"
                                      aria-hidden="true"></i> Admin Id</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                             {{user.adminId}}
                          </div>
                      </div>
                      <hr>
                      <div class="row">
                          <div class="col-sm-3">
                              <h6 class="mb-0"><i style="color: lightblue;" class="fa fa-phone"
                                      aria-hidden="true"></i> Phone</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                              {{user.phone}}
                               </div>
                      </div>
                      <hr>

                      <hr>
                      <div class="row">
                          <div class="col-sm-3">
                              <h6 class="mb-0"><i style="color: greenyellow;" class="fa fa-map-marker"
                                      aria-hidden="true"></i> Address</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                              {{user.Address}}
                               </div>
                      </div>


                  </div>

              </div>
              


          








          </div>
      </div>
      <button class="btn btn-primary" style="float: right;" [routerLink]="['/admin']">Go To Dashboard</button>
  </div>
  
