<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a  *ngIf="authService.loggedIn()" class="nav-link" [routerLink]="['/']" class="navbar-brand" style="color: white;font-size: larger;" [routerLink]="['/dashboard']">HealthCare Master</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ">
          <li class="nav-item"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a  *ngIf="!authService.loggedIn() || !otpService.logIn() " class="nav-link" [routerLink]="['/']" style="color: white;font-size: larger;">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item"  *ngIf="(authService.loggedIn()|| otpService.logIn())&& !adminService.loggedIn()" [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{exact:true}">
              <a class="nav-link" [routerLink]="['/dashboard']" style="font-size: large;">Dashboard </a>
          </li>
                  <li class="nav-item" *ngIf="adminService.loggedIn() && (!otpService.logIn() && !authService.loggedIn()) " [routerLinkActive]="['active']"
                      [routerLinkActiveOptions]="{exact:true}">
                      <a class="nav-link" [routerLink]="['/admin']" style="font-size: large;">AdminDashboard</a>
                  </li>


          <!-- <li class="nav-item" *ngIf="authService.loggedIn() ||otpService.logIn()" [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{exact:true}">
              <a class="nav-link" [routerLink]="['/profile']">Profile </a>
          </li> -->
          <!-- <li class="nav-item"  *ngIf="authService.loggedIn()" [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{exact:true}">
              <a class="nav-link" [routerLink]="['/health']">MyHealth </a>
          </li> -->
       

      </ul>
      <ul class="nav navbar-nav ml-auto">
          <!-- <li class="nav-item" [routerLinkActive]="['active']">
              <a *ngIf="!authService.loggedIn() &&!otpService.logIn()" class="nav-link" [routerLink]="['/register']">Register</a>
          </li>
          
          <li class="nav-item" [routerLinkActive]="['active']">
              <a   *ngIf="!authService.loggedIn() && !otpService.logIn()"class="nav-link " [routerLink]="['/logins']">Login</a>
          </li>
          <li *ngIf="!authService.loggedIn() && !otpService.logIn()" class="nav-item" [routerLink]="['/otp']"><a class="nav-link "
               >OTPLogin</a>
          </li>-->
          <li  *ngIf="authService.loggedIn() || otpService.logIn()" class="nav-item btn btn-danger"  [routerLinkActive]="['active']"><a class="nav-link " (click)="onLogoutClick()" href="#" style="color: white;" >Logout</a>
          </li>
          <li class="nav-item btn btn-secondary" *ngIf='!authService.loggedIn() && !otpService.logIn() &&
          !adminService.loggedIn() ' [routerLink]="['/register']"><a class="nav-link " 
            style="color: white;"   >Register</a></li>
          <li  class="nav-item btn btn-danger"
          *ngIf="!adminService.loggedIn() && !otpService.logIn() " 
              [routerLink]="['admin-login']"><a class="nav-link " 
                  style="color: white;">Admin</a>
          </li>
         
         
         
      </ul>
      
  </div>
</nav>
