body{

    width: 600px;
    height: 50% ;
    /* background-color: rgb(150, 196, 236); */
    display: flex;
    margin: 0px auto;
    padding: 15px;
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,45,245,1) 100%);
    
}
.page-header{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fffbfb;
    letter-spacing: 3.6px;
}
label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    color: rgba(252, 251, 249, 0.849);
    padding-left:4px;
}
::placeholder{
    color:rgb(87, 68, 68);
    opacity: .7;
    font-size: smaller;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}