<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <h1><strong>List of Appointments</strong></h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">_id</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Gender</th>
                <th scope="col">Test</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let i of details'>
                <th scope="row">{{i._id}}</th>
                <td> {{i.name}} </td>
                <td> {{i.age}} </td>
                <td> {{i.gender}} </td>
                <td> {{i.test}} </td>
                <td> {{i.date}} </td>
                <td> {{i.time}} </td>
                <td> {{i.mobileNumber}} </td>
                <td><button class="btn btn-danger" (click)="onDelete(i.name)">Delete</button></td>
            </tr>



        </tbody>
    </table>

</body>

</html>