<body>
  <h1><strong>List of Appointments</strong></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">_id</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Gender</th>
      <th scope="col">Test</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Mobile Number</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
            <tr  *ngFor='let i of details'>
              <th scope="row">{{i._id}}</th>
              <td> {{i.first_name}} </td>
              <td> {{i.last_name}} </td>
              <td> {{i.age}} </td>
              <td> {{i.gender}} </td>
              <td> {{i.test}} </td>
              <td> {{i.date}} </td>
              <td> {{i.time}} </td>
              <td> {{i.phoneNumber}} </td>
              <td><button class="btn btn-danger" (click)="onDelete(i.phoneNumber)">Delete</button></td>
            </tr>



   </tbody>
</table>

</body>

