<body>
    <h1 style="text-align: center;">CT Scan</h1>
    <div class="row">
        <div class="col-sm-10 col-md-8 offset-sm-1 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]='registerForm'>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">
                                    <label for="email">Name:</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" name='name' [formControlName]="'name'" class="form-control">
                                    <div [hidden]='name.valid || name.untouched'>
                                        <div class="alert alert-danger">
                                            <div [hidden]="!name.hasError('required')">Name is Required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">
                                    <label for="age">Age:</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" name='age' class="form-control" [formControlName]="'age'">
                                    <div [hidden]='age.valid || age.untouched'>
                                        <div class="alert alert-danger">
                                            <div [hidden]="!age.hasError('required')">Age is Required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <br>


                        <div class="form-group">
                          <div class="row">
                              <div class="col-4">
                                  <label for="age" >Gender:</label>
                              </div>
                              <div class="col-8">
                              <div class=" radio" *ngFor="let gender of genders">
                                  <label class="form-check-label" for="inlineRadio1">
                                      <input class="form-check-input" type="radio" [value]="gender"
                                          [formControlName]="'gender'"> {{gender}} </label>
                              </div>
                            </div>
                          </div>
                      </div>


                        <br>

                        <!-- <div class="form-group">
    <label for="test">Test</label>
    <br>
  <select name="test" [(ngModel)]='test' [value]='test'  class="btn btn-secondary dropdown-toggle"
   [formControlName]="'test'">
          <option>CT Scan</option>
          <option >MRI Scan</option>
          <option >Diabetics Test</option>
          <option >Covid Test</option>
          <option >X-Ray</option>
          </select>
  </div> -->


                        <br>


                        <div class="form-group">
                          <div class="row">
                              <div class="col-4">
                                  <label for="date">Date</label>
                              </div>
                              <div class="col-8">
                                  <input type="date" name='date' class="form-control" [formControlName]="'date'">
                                  <div [hidden]='date.valid || date.untouched'>
                                      <div class="alert alert-danger">
                                          <div [hidden]="!date.hasError('required')">date is Required</div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <br>


                      <div class="form-group">
                        <div class="row">
                          <div class="col-4">
                            <label for="time">Time</label>
                          </div>
                            <div class="col-8">
                              <select name="time" [(ngModel)]='time' [value]='time'
                              class="btn btn-secondary dropdown-toggle" [formControlName]="'time'">
                              <option>Morning Slot[08.00-11.00 AM]</option>
                              <option>Afternoon Slot[12.00-04.00 PM]</option>
                              <option>Evening Slot[05.00-08.00 PM]</option>
                          </select>

                            </div>
                          </div>
                      </div>

                        <br>


                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">
                                    <label for="phone">Contact Number:</label>
                                </div>
                                <div class="col-8">
                                    <input type="tel" name='mobileNumber' [formControlName]="'mobileNumber'"
                                        class="form-control">

                                    <div [hidden]='mobileNumber.valid || mobileNumber.untouched'>
                                        <div class="alert alert-danger">
                                            <div [hidden]="!mobileNumber.hasError('required')">mobileNumber is Required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <br>
                        <div class="form-group">
                            <button [disabled]='registerForm.invalid' class="btn btn-primary btn-block" type="submit"
                                (click)=addContact() [routerLink]=" 'dashboard' ">Submit </button>
                        </div>

                        <button class="btn btn-primary" style="float: right;" [routerLink]="['/diagnostics']">Go To Diagnostics</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



</body>
