<body>

  <div class="container">
      <form (submit)="onLoginSubmit()">
          <h2 class="page-header">Login</h2>
          <hr>

          <div class="form-group email">
              <label>Admin Id</label>
              <i class="fa fa-envelope" aria-hidden="true"></i> <input type="text" class="form-control"
                  [(ngModel)]="adminId" name="email" placeholder="Enter Email">
          </div>
          <hr>
          <div class="form-group password">
              <label>Password</label>
              <i class="fa fa-unlock-alt" aria-hidden="true"></i> <input type="password" class="form-control"
                  [(ngModel)]="password" name="password" placeholder="Enter Password">
          </div>
          <hr>
          <input type="submit" class="btn btn-primary" value="Login">
      </form>

  </div>
</body>
