<div class="content">
    <div class="imp">
        <label for="sort"></label>
        <select name="sort" [(ngModel)]="sortBy" value='select' class="browser-default custom-select"
            style="width: 300px;">
            <option value="Diabetics">Diabetics</option>
            <option value="X-Ray">X-Ray</option>
            <option value="MRI Scan">MRI Scan</option>
            <option value="CT Scan">CT Scan</option>
            <option value="COVID Test">COVID Test</option>
        </select>
        <button (click)=sortResults(sortBy) class='btn btn-primary'>Sort By</button>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div *ngFor='let res of results'>
            <div class="col">
                <div class='card'>
                    <div class="list-group-item list-group-item-primary">_id: {{res._id}} </div>
                    <div>Name: {{res.name}} </div>
                    <div>Age: {{res.age}} </div>
                    <div>Gender: {{res.gender}} </div>
                    <div>Test: {{res.test}} </div>
                    <div>Date: {{res.date}} </div>
                    <div>Time: {{res.time}} </div>
                    <div>Mobile Number: {{res.mobileNumber}} </div>
                    <br><br><br>
                </div>
            </div>
        </div>
    </div>
</div>