<body>

  <div class="row">
    <div class="col-sm-10 col-md-8 offset-sm-1 offset-md-2">
    <div class="card">
      <div class="card-body">
        <form  [formGroup]='registerForm'   >
          <div class="form-group">
            <div class="row">
              <div class="col-4">
                <label for="email">First Name:</label>
              </div>
              <div class="col-8">
                <input type="text" name='first_name' [formControlName]="'first_name'" class="form-control" >
                <div [hidden]='first_name.valid || first_name.untouched'>
                  <div class="alert alert-danger">
                    <div  [hidden]="!first_name.hasError('required')">First Name is Required</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  <br>
  <div class="form-group">
    <div class="row">
      <div class="col-4">
        <label for="email">Last Name:</label>
      </div>
      <div class="col-8">
        <input type="text" name='last_name' [formControlName]="'last_name'" class="form-control" >
        <div [hidden]='last_name.valid || last_name.untouched'>
          <div class="alert alert-danger">
            <div  [hidden]="!last_name.hasError('required')">Last Name is Required</div>
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
          <div class="form-group">
            <div class="row">
              <div class="col-4">
                <label for="age">Age:</label>
              </div>
              <div class="col-8">
                <input type="text" name='age' class="form-control"
         [formControlName]="'age'">
         <div [hidden]='age.valid || age.untouched'>
          <div class="alert alert-danger">
            <div  [hidden]="!age.hasError('required')">Age is Required</div>
          </div>
        </div>
              </div>
            </div>
          </div>



  <br>


  <div class="form-group">
    <div class="row">
      <div class="col-4">
        <label for="age">Gender:</label>
      </div>
  <div class="radio" *ngFor="let gender of genders" >
    <label class="form-check-label" for="inlineRadio1">
    <input class="form-check-input" type="radio"
     [value]="gender" [formControlName]="'gender'"> {{gender}} </label>
  </div>
  </div>
  </div>


  <br>

   <div class="form-group">
    <label for="test">Appointment with</label>
    <br>
  <select name="test" [(ngModel)]='test' [value]='test'  class="btn btn-secondary dropdown-toggle"
   [formControlName]="'test'">
          <option>Cardiology</option>
          <option >Dermatology</option>
          <option >Neurology</option>
          <option >Pediatrician</option>
          <option >Psychiartist</option>
          </select>
  </div>


  <br>

  <div class="form-group">
    <div class="row">
      <div class="col-4">
        <label for="date">Date</label>
        <input type="date" name='date' class="form-control"
  [formControlName]="'date'">
  <div [hidden]='date.valid || date.untouched'>
  <div class="alert alert-danger">
    <div  [hidden]="!date.hasError('required')">date is Required</div>
  </div>
  </div>
      </div>
    </div>
  </div>

  <br>


  <div class="form-group">
    <label for="time">Time</label>
    <br>
  <select name="time" [(ngModel)]='time' [value]='time'  class="btn btn-secondary dropdown-toggle"
   [formControlName]="'time'">
          <option>Morning Slot[08.00-11.00 AM]</option>
          <option >Afternoon Slot[12.00-04.00 PM]</option>
          <option >Evening Slot[05.00-08.00 PM]</option>
          </select>
  </div>


  <br>


  <div class="form-group">
    <div class="row">
      <div class="col-4">
        <label for="phone">Contact Number:</label>
      </div>
      <div class="col-8">
        <input type="tel" name='phoneNumber' [formControlName]="'phoneNumber'" class="form-control" >

        <div [hidden]='phoneNumber.valid ||phoneNumber.untouched'>
          <div class="alert alert-danger">
            <div  [hidden]="!phoneNumber.hasError('required')">mobileNumber is Required</div>
            <div  [hidden]="!phoneNumber.hasError('pattern')">Please enter valid mobile number</div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <br>
        <div class="form-group">
        <button [disabled]='registerForm.invalid' class="btn btn-primary btn-block"
         type="submit" (click)=addContact() [routerLink]=" 'dashboard' "
         >Submit </button>
        </div>

        <button class="btn btn-primary" style="float: right;" [routerLink]="['/doctor']">Previous</button>
        </form>
      </div>
    </div>
  </div>
  </div>



  </body>



