.full
{
  /* height: 100% !important; */
  width: 100%;
  background-color: brown;
  /* background-size: 100% 100%; */
}
.card
{
  background-color:#eee;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;

}

.logoutBtn
{
  position:fixed;
  right:10px;
  top:5px;
  box-shadow: 0 0 40px 40px #cf2020 inset, 0 0 0 0 #e20c0c;
}
.logoutBtn:hover{
  box-shadow: 0 0 40px 40px #cf2020 inset, 0 0 0 0 #e20c0c;
}
  .btn{
  border-color: #3498db;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  /* -webkit-transition: all 150ms ease-in-out; */
  /* transition: all 150ms ease-in-out; */
  }
  .btn:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }
.container
{
  height: 580px;
  width: 800px;
  padding-top:40px;
  background-color: skyblue;
  margin-top: 8%;
  box-shadow: 	0 4px 8px 0 rgba(0, 0, 0, 0.2),
  				0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
