<body>

  <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
  <div class="card" style="width: 18rem;">
    <img src="/assets/images/view_appointments.jpg" class="card-img-top" alt="Diagnostics">
    <div class="card-body">
      <h5 class="card-title">View Appointments</h5>
      <p class="card-text">You can view number of appointments in specific doctor</p>
      <a href='list' class="btn btn-primary">View</a>

    </div>
  </div>
  </div>


  <div class="col">
  <div class="card" style="width: 18rem;">
    <img src="/assets/images/edit_appointments.png" class="card-img-top" alt="Diagnostics">
    <div class="card-body">
      <h5 class="card-title">Delete Appointments</h5>
      <p class="card-text">You can delete the appointments</p>
      <a href="doctors-appointment" class="btn btn-primary">View</a>
    </div>
  </div>
  </div>


  </div>

  </body>


