

<body>
  <section class="container">
      <div class="container d-flex" style="text-align:center">
          <div class="col-md-3 m-5" id="img1" >

              <img src="../assets/images/Doctor1.png" height="120" class="rounded-circle" width="150" alt="Diagnostics">
              <h5 class="card-title">DR. ZHANG WEI</h5>
              <p class="card-title">Cardiologist</p>
              <a href='doctor/book'  class="btn btn-primary">Book Appointment</a>
          </div>
          <div class="col-md-3 m-5">

              <img src="../assets/images/doctor3.jpg" class="rounded-circle" height="120" width="150" alt="Diagnostics">
              <h5 class="card-title">DR. ANAND VISWANATHAN</h5>
              <p class="card-title">Dermatologist</p>
              <a href='doctor/book'  class="btn btn-primary">Book Appointment</a>
          </div>
          <div class="col-md-3 m-5">

              <img src="../assets/images/doctor4.jpg" class="rounded-circle" height="120" width="150"  alt="Diagnostics">
              <h5 class="card-title">DR. KRISHNA KANTH</h5>
              <p class="card-title">Neurologist</p>
              <a href='doctor/book'  class="btn btn-primary">Book Appointment</a>
          </div>
      </div>
  </section>
  <section>
      <div class="container d-flex" style="text-align:center; margin-left:350px">
          <div class="col-md-3 m-3">

              <img src="../assets/images/doctor5.jpg" class="rounded-circle" height="150" width="150" alt="Diagnostics">
              <h5 class="card-title">DR. ROSE MARY</h5>
              <p class="card-title">Pediatrician</p>
              <a href='doctor/book'  class="btn btn-primary">Book Appointment</a>
          </div>
          <div class="col-md-3 m-3 mx-5">

              <img src="../assets/images/doctor6.jpg" class="card-img-top" class="rounded-circle" height="150" width="150" alt="Diagnostics">
              <h5 class="card-title">DR. SRIKAR</h5>
              <p class="card-title">Psychiartist</p>
              <a href='doctor/book'  class="btn btn-primary">Book Appointment</a>
          </div>
      </div>

  </section>
  <button class="btn btn-primary"  style="float: right;" [routerLink]="['/dashboard']">Go To Dashboard</button>
  </body>

