<body>

  <div class="row">
    <div class="col-sm-8 col-md-6 offset-sm-1 offset-md-2">
    <div class="card">
      <div class="card-body">
        <form  [formGroup]='bmiForm'>
          <div class="form-group">
            <div class="row">
              <div class="col-3">
                <label for="name">Name:</label>
              </div>
              <div class="col-6">
                <input type="tel" name='name' [formControlName]="'name'" class="form-control" >
        
                <div [hidden]='name.valid || name.untouched'> 
                  <div class="alert alert-danger">
                    <div  [hidden]="!name.hasError('required')">Name is Required</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="form-group">
            <div class="row">
              <div class="col-3">
                <label for="height">Height:</label>
              </div>
              <div class="col-6">
                <input type="text" name='height'  [formControlName]="'height'"  class="form-control" placeholder="enter height" >
                <div [hidden]='height.valid ||height.untouched'>
                  <div class="alert alert-danger">
                    <div  [hidden]="!height.hasError('required')">height is Required</div>
                     <div  [hidden]="!height.hasError('pattern')">Please enter  height</div> 
      
                </div>
              </div>
              </div>
            </div>
          </div>
          

          <br>

          <div class="form-group">
            <div class="row">
              <div class="col-3">
                <label for="weight">Weight:</label>
              </div>
              <div class="col-6">
                <input type="text" name='weight'  [formControlName]="'weight'"  class="form-control" placeholder="enter weight" >
                <div [hidden]='weight.valid ||weight.untouched'>
                  <div class="alert alert-danger">
                    <div  [hidden]="!weight.hasError('required')">weight is Required</div>
                     <div  [hidden]="!weight.hasError('pattern')">Please enter  weight</div>  
      
                </div>
              </div>
              </div>
            </div>
          </div>

          <br>

          <div class="form-group">
            <div class="row">
              <div class="col-3">
                <label for="bmicheck">BMI Check:</label>
              </div>
              <div class="col-6">
               <button type="submit" class="form-control" (click)='calculatebmi()'>calculatebmi</button>{{bmi}}
                
              </div>
            </div>
          </div>

          <br>

          <div class="form-group">
            <button class="btn btn-primary btn-block"  type="submit" (click)='addContact1()' [routerLink]="'dashboard'">Main Menu</button>
            </div>
</form>
</div>
</div>
</div>
</div>
</body>
