body{
  width: 500px;
  height: 850px ;
  /* background-color: rgb(150, 196, 236); */
  display: flex;
  margin: 0 auto;
  padding: 15px;
  background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,45,245,1) 100%);

}

/* .card
{
border: 1px solid;
padding: 10px;
box-shadow: 5px 10px #888888;
margin:0 auto;
} */
   .phone {
          position: relative;
      }

      .phone i{
          position: absolute;
          left: 15px;
          top: 48px;
          color: gray;
      }

    .Address {
          position: relative;
      }

      .Address i{
          position: absolute;
          left: 15px;
          top: 46px;
          color: gray;
      }
      .btn{
        width: 100%;
        font-weight: 600;
        background: rgb(34,193,195);
background: linear-gradient(135deg, rgba(34,193,195,1) 0%, rgba(45,253,111,1) 100%);
transition:cubic-bezier(0.6, -0.28, 0.735, 0.045);
letter-spacing: 5px;
font-size: large;

    }
    .btn:hover{

       box-shadow: 0 0 10px rgb(4, 51, 65);
    }
