<body>
    <div class="container">
        <h2 class="page-header">My Health</h2>
        <form (submit)="onSubmitMyHelathInfo()" enctype="multipart/form-data">
            <div class="form-group">
                <label>Age</label>
                <input type="text" [(ngModel)]="age" name="age" class="form-control" placeholder="Your Age">
            </div>
            <div class="form-group">
                <label>Height</label>
                <input type="text" [(ngModel)]="height" name="height" class="form-control" placeholder="Your Height(Feet)">
            </div>
            <div class="form-group">
                <label>Weight</label>
                <input type="text" [(ngModel)]="weight" name="weight" class="form-control" placeholder="Your Weight(Kg)">
            </div>
            <div class="form-group">
                <label>BLOOD GROUP</label>
                <input type="text" [(ngModel)]="bloodgp" name="bloodgp" class="form-control" placeholder="Your Bloodgp">
            </div>
            <div class="form-group">
                <label>BMI</label>
                <input type="text" [(ngModel)]="bmi" name="bmi" class="form-control" placeholder="Your BMI,if you dont know go to BMI Calculator">
            </div>
            <div class="form-group">
                <label>SLEEP PER DAY</label>
                <input type="text" [(ngModel)]="sleepPerDay" name="sleepPerDay" class="form-control" placeholder="How Much You Sleep">
            </div>
            <div class="form-group">
                <label>MARITAL STATUS</label>
                <input type="text" [(ngModel)]="maritalst" name="maritalst" class="form-control" placeholder="UNMARRIED/MARRIED">
            </div>
            <div class="form-group">
                <label>MEDICAL INSURANCE</label>
                <input type="text" [(ngModel)]="medInsurance" name="medInsurance" class="form-control"placeholder="YES/NO">
            </div>
            <!-- <div class="form-group">
                <label for="file">Choose File</label>
                <input type="file" name="file" id="file" [(ngModel)]="profileImage" (change)="handleFileInput($event)">
                <img [src]="url">
            </div> -->
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>

    </div>
</body>
